DISCORD_WEBHOOK_URL=your_webhook_here
X_API_KEY=x_api_key_here
X_API_SECRET=x_api_secret_here
X_ACCESS_TOKEN=x_accexx_token_here
X_ACCESS_SECRET=x_access_secret_here
# OBS WebSocket Configuration
OBS_HOST=localhost
OBS_PORT=4455
OBS_PASSWORD=your_secret_password
# OBS Scene Configuration
OBS_STARTING_SCENE="Starting Soon"
OBS_LIVE_SCENE="Live"